name: Test

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
          - "3.4.7"
    
    services:

      redis:
        image: redis:6.0
        ports: ['6379:6379']

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Standard
        run: bundle exec rake standard
      
      - name: RSpec
        run: bundle exec rspec
